/*sets size and backgd color for div tags*/
#container {
	width: 90%;
	background-color: #CBCFB3;
	margin: 0 auto;
	padding: 0;
}

#header {
	background-color: #6A963B;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #6a963b;
}

#sidebar {
	float:  left;
	width: 16em;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.09em;
}

/* This styles the editable part of the templatete */

#mainContent {
	background-color: #FFFFFF;
	margin-left: 14em;
	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 1em;
	text-align: left;
}

#footer p {
	margin:  0;
	padding: 10px 0;
	background-color: #DDDDDD;
	text-align:  center;
	font-size: .8em;
	text-align: left;
}
.text-align-left{
	text-align: left;
}
/*Sets the fonts and their colors*/

.clearfloat {
	clear:  both;
	height:  0;
	font-size:  1px;
}


body {
	font-family: Verdana, "Trebuchet MS", sans-serif;
	background-color: #666666;
	color: #000000;
	margin: 0;
	padding: 0;
	text-align:  center;
	font-size: 14px;
}

p {
	font-size: 14px;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, "Trebuchet MS", sans-serif;
}

h4 {
	color: #000
}

/* class - type style for photo captions */

.photocap {
	font-size: 12px;
	color: #666666;
	/*font-weight: bold;*/
	text-align:  left;
}

/* for font in masthead */

.masthead {
	font-family: 'Philosopher', Verdana, 		sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 27px;
	letter-spacing: 0.1em;
	}

/* Font for navbar--TRIAL-- */


.sidenavbar {
	font-family: 'Philosopher', Verdana, sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.1em;
}
/* class for float p.127 getting started w css  */
.floatLeft {
	float:  left;
	margin:  3px 8px 3px 0;
}

.floatRight {
	float: right;
	margin: 3px 0 3px 8px;
}

/* link color for links in a paragraph */
a {
	font-weight: bold;
	text-decoration: none;
}

a:link {
	color: #339900;
}
a:visited {
	color:  #339900;
}
a:hover, a:active {
	color: #339900;
	text-decoration: underline;
}

/* No border on images */
a img {border-width: 0;}

/*nav bar mouse behaviors*/
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

#sidebar a {
	display: block;
	padding: 10px 3px 9px 15px;
	background-color: #6A963B;
	color: #EBEBEB;
	border-top: 1px #EBEBEB solid;
	text-decoration: none;
}

#sidebar a:hover {
	background-color: #99E071;
	color: #EBEBEB;
	/*border-right: 3px #999999 solid;
	border-bottom: 3px #999999 solid;
	padding-bottom: 3px;*/
}

#sidebar a:visited {
	color: #EBEBEB;
}

 #sidebar a:active {
	color: #0078ac;
	text-align: left;
}

/* For email form under development */
	
.tdFlushright {
	text-align: left;
}

@media print {
	body {
	font-family:  Verdana, "Trebuchet MS", 	sans-serif;}
	p {
	margin-left: 0;}
	a {
	color:  #000;}
}
